<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD9O1xc4mjkcgnR-Qq1vw8dWJng5WxoRo4</string>
	<key>GCM_SENDER_ID</key>
	<string>583037855172</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterBookMall.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>book-flutter-data</string>
	<key>STORAGE_BUCKET</key>
	<string>book-flutter-data.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:583037855172:ios:f47f013fda1168a458b091</string>
</dict>
</plist>